@charset "UTF-8";
*::before,
*::after {
    box-sizing: inherit;
}

a[data-toggle="collapse"] {
    position: relative;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    transition: 0.3s all ease;
}

a:hover,
a:focus {
    text-decoration: none !important;
    outline: none !important;
    box-shadow: none;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
    outline: 0;
}

* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.8;
    font-weight: normal;
    background: #fff;
    color: #142930;
    height: 100%;
}

.wrapper {
    width: 100%;
}


/*SIDEBAR*/

.sidebar-container {
    position: relative;
    min-width: 0;
    z-index: 123;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.sidebar-container.active {
    min-width: 270px;
}

#sidebar {
    min-width: 270px;
    max-width: 270px;
    background: #142930;
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    margin-right: -270px;
}

#sidebar .h6 {
    color: #fff;
}

#sidebar.active {
    margin-right: 0;
}

#sidebar h1 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 30px;
}

#sidebar h1 .logo {
    color: #fff;
}

#sidebar h1 .logo span {
    font-size: 14px;
    color: #F5F5F5;
    display: block;
}

#sidebar ul.components {
    padding: 0;
}

#sidebar ul li {
    font-size: 16px;
}

#sidebar ul li>ul {
    margin-left: 10px;
}

#sidebar ul li>ul li {
    font-size: 14px;
}

#sidebar ul li a {
    padding: 10px 0;
    display: block;
    color: rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#sidebar ul li a span {
    color: #F5F5F5;
}

#sidebar ul li a:hover {
    color: #fff;
}

#sidebar ul li.active>a {
    background: transparent;
    color: #fff;
}

@media (max-width: 991.98px) {
    #sidebar {
        margin-right: -270px;
    }
    #sidebar.active {
        margin-right: 0;
    }
    .sidebar-container.active {
        min-width: 0;
    }
}

#sidebar .custom-menu {
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 0;
    margin-left: -20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
    #sidebar .custom-menu {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}

#sidebar .custom-menu .btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
}

#sidebar .custom-menu .btn i {
    margin-left: -40px;
    font-size: 14px;
}

#sidebar .custom-menu .btn.btn-primary {
    background: transparent;
    border-color: transparent;
}

#sidebar .custom-menu .btn.btn-primary:after {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #142930;
    border-radius: 10px;
}

#sidebar .custom-menu .btn.btn-primary:hover,
#sidebar .custom-menu .btn.btn-primary:focus {
    background: transparent !important;
    border-color: transparent !important;
}


/*BACKGROUND */

.bg-wrap {
    width: 100%;
    position: relative;
    z-index: 0;
}

.bg-wrap:after {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: #000;
    opacity: .3;
}

.bg-wrap .user-logo .img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.bg-wrap .user-logo h3 {
    color: #fff;
    font-size: 18px;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media (max-width: 991.98px) {
    #sidebarCollapse span {
        display: none;
    }
}

#content {
    width: 100%;
    padding: 0;
    min-height: 100vh;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.summary-container {
    position: relative;
    width: 100%;
    height: 50vh;
}

.summary-container>video {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -123456;
}

.summary-mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    color: #F5F5F5;
}