@charset "UTF-8";
*::before,
*::after {
    box-sizing: inherit;
}

a[data-toggle="collapse"] {
    position: relative;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    transition: 0.3s all ease;
}

a:hover,
a:focus {
    text-decoration: none !important;
    outline: none !important;
    box-shadow: none;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
    outline: 0;
}

* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.8;
    font-weight: normal;
    background: #fff;
    color: #142930;
    height: 100%;
}

.wrapper {
    width: 100%;
}

.card-text.collapse:not(.show) {
    display: -webkit-box!important;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    height: 6.3rem;
    overflow: hidden;
}

.card-text.collapsing {
    height: 6.3rem;
}

.card-text.collapse.show {
    display: block!important;
}

.card-body a[data-bs-toggle="collapse"].collapsed::after {
    content: '...devamını oku';
}

.card-body a[data-bs-toggle="collapse"]:not(.collapsed)::after {
    content: '...daha az';
}


/*SIDEBAR*/

.sidebar-container {
    position: relative;
    min-width: 0;
    z-index: 123;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.sidebar-container.active {
    min-width: 270px;
}

#sidebar {
    min-width: 270px;
    max-width: 270px;
    background: #142930;
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    margin-right: -270px;
}

#sidebar .h6 {
    color: #fff;
}

#sidebar.active {
    margin-right: 0;
}

#sidebar h1 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 30px;
}

#sidebar h1 .logo {
    color: #fff;
}

#sidebar h1 .logo span {
    font-size: 14px;
    color: #F5F5F5;
    display: block;
}

#sidebar ul.components {
    padding: 0;
}

#sidebar ul li {
    font-size: 16px;
}

#sidebar ul li>ul {
    margin-left: 10px;
}

#sidebar ul li>ul li {
    font-size: 14px;
}

#sidebar ul li a {
    padding: 10px 0;
    display: block;
    color: rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#sidebar ul li a span {
    color: #F5F5F5;
}

#sidebar ul li a:hover {
    color: #fff;
}

#sidebar ul li.active>a {
    background: transparent;
    color: #fff;
}

@media (max-width: 991.98px) {
    #sidebar {
        margin-right: -270px;
    }
    #sidebar.active {
        margin-right: 0;
    }
    .sidebar-container.active {
        min-width: 0;
    }
}

#sidebar .custom-menu {
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 0;
    margin-left: -20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
    #sidebar .custom-menu {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}

#sidebar .custom-menu .btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
}

#sidebar .custom-menu .btn i {
    margin-left: -40px;
    font-size: 14px;
}

#sidebar .custom-menu .btn.btn-primary {
    background: transparent;
    border-color: transparent;
}

#sidebar .custom-menu .btn.btn-primary:after {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #142930;
    border-radius: 10px;
}

#sidebar .custom-menu .btn.btn-primary:hover,
#sidebar .custom-menu .btn.btn-primary:focus {
    background: transparent !important;
    border-color: transparent !important;
}


/*BACKGROUND */

.bg-wrap {
    width: 100%;
    position: relative;
    z-index: 0;
}

.bg-wrap:after {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: #000;
    opacity: .3;
}

.bg-wrap .user-logo .img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.bg-wrap .user-logo h3 {
    color: #fff;
    font-size: 18px;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media (max-width: 991.98px) {
    #sidebarCollapse span {
        display: none;
    }
}

#content {
    width: 100%;
    padding: 0;
    min-height: 100vh;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.summary-container {
    position: relative;
    width: 100%;
    min-height: 50vh;
}

.summary-container>video {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -123456;
}

.summary-mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    color: #F5F5F5;
}


/* TIMELINE */

.main-timeline {
    font-family: 'Quicksand', sans-serif;
}

.main-timeline:after {
    content: '';
    display: block;
    clear: both;
}

.main-timeline .timeline {
    width: calc(50% + 58px);
    border-top: 2px solid #404247;
    float: left;
    position: relative;
    z-index: 1;
}

.main-timeline .timeline:before {
    content: "";
    background: #404247;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    position: absolute;
    top: -5px;
    right: 0;
}

.main-timeline .timeline-content {
    color: #404247;
    text-align: center;
    padding: 15px 80px 15px 10px;
    display: block;
    position: relative;
}

.main-timeline .timeline-content:hover {
    text-decoration: none;
}

.main-timeline .timeline-content:before {
    content: "";
    background: #00a6f9;
    width: 15px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 50px;
}

.main-timeline .timeline-year {
    font-size: 35px;
    line-height: 35px;
    font-weight: 700;
    transform: translateY(-50%) rotate(90deg);
    position: absolute;
    top: 50%;
    right: -15px;
}

.main-timeline .title {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 0 0 8px;
}

.main-timeline .description {
    font-size: 16px;
    margin: 0;
}

.main-timeline .timeline:nth-child(even) {
    float: right;
}

.main-timeline .timeline:nth-child(even):before {
    right: auto;
    left: 0;
}

.main-timeline .timeline:nth-child(even) .timeline-content {
    padding: 15px 10px 15px 80px;
}

.main-timeline .timeline:nth-child(even) .timeline-content:before {
    right: auto;
    left: 51px;
}

.main-timeline .timeline:nth-child(even) .timeline-year {
    right: auto;
    left: -15px;
}

.main-timeline .timeline:nth-child(4n+2) .timeline-content:before {
    background: #ff3e7c;
}

.main-timeline .timeline:nth-child(4n+3) .timeline-content:before {
    background: #7438be;
}

.main-timeline .timeline:nth-child(4n+4) .timeline-content:before {
    background: #bdc203;
}

@media screen and (max-width:767px) {
    .main-timeline .timeline {
        width: 100%;
    }
}


/*CARDS*/

.section_our_solution .row {
    align-items: center;
}

.our_solution_category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.our_solution_category .solution_cards_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.solution_cards_box .solution_card {
    flex: 0 50%;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2), 0 5px 15px 0 rgba(37, 44, 97, 0.15);
    border-radius: 15px;
    margin: 8px;
    padding: 10px 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    min-height: 265px;
    transition: 0.7s;
}

.solution_cards_box .solution_card:hover {
    background: #309df0;
    color: #fff;
    transform: scale(1.1);
    z-index: 9;
}

.solution_cards_box .solution_card:hover::before {
    background: rgb(85 108 214 / 10%);
}

.solution_cards_box .solution_card:hover .solu_title h3,
.solution_cards_box .solution_card:hover .solu_description p {
    color: #fff;
}

.solution_cards_box .solution_card:before {
    content: "";
    position: absolute;
    background: rgb(85 108 214 / 5%);
    width: 170px;
    height: 400px;
    z-index: -1;
    transform: rotate(42deg);
    right: -56px;
    top: -23px;
    border-radius: 35px;
}

.solution_cards_box .solution_card:hover .solu_description button,
.solution_cards_box .solution_card:hover .solu_description a {
    background: #fff !important;
    color: #309df0;
}

.solution_card .so_top_icon {}

.solution_card .solu_title h3 {
    color: #212121;
    font-size: 1.3rem;
    margin-top: 13px;
    margin-bottom: 13px;
}

.solution_card .solu_description p {
    font-size: 15px;
    margin-bottom: 15px;
}

.solution_card .solu_description button,
.solution_card .solu_description a {
    border: 0;
    border-radius: 15px;
    background: linear-gradient( 140deg, #42c3ca 0%, #42c3ca 50%, #42c3cac7 75%) !important;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 16px;
}

.our_solution_content h1 {
    text-transform: capitalize;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.our_solution_content p {}

.hover_color_bubble {
    position: absolute;
    background: rgb(54 81 207 / 15%);
    width: 100rem;
    height: 100rem;
    left: 0;
    right: 0;
    z-index: -1;
    top: 16rem;
    border-radius: 50%;
    transform: rotate(-36deg);
    left: -18rem;
    transition: 0.7s;
}

.solution_cards_box .solution_card:hover .hover_color_bubble {
    top: 0rem;
}

.solution_cards_box .solution_card .so_top_icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.solution_cards_box .solution_card .so_top_icon img {
    width: 40px;
    height: 50px;
    object-fit: contain;
}


/*start media query*/

@media screen and (min-width: 320px) {
    .sol_card_top_3 {
        position: relative;
        top: 0;
    }
    .our_solution_category {
        width: 100%;
        margin: 0 auto;
    }
    .our_solution_category .solution_cards_box {
        flex: auto;
    }
}

@media only screen and (min-width: 768px) {
    .our_solution_category .solution_cards_box {
        flex: 1;
    }
}

@media only screen and (min-width: 1024px) {
    .sol_card_top_3 {
        position: relative;
        top: -3rem;
    }
    .our_solution_category {
        width: 50%;
        margin: 0 auto;
    }
}